<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
   {{>navbar}}
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="imgs/404pic.jpg" alt="khawar" class="img-fluid" title="khawar baig">
                    </figure>
                
                <p>well come to weather app 🇵🇰🥶</p>
                <h1>{{errorMsg}}</h1>
                <a href="/"></a><button>Go Back</button></a>
            </div>
          
            </div>
        </div>
    </div>
   </div>
   <!-- footer code -->
  {{>footer}}
</body>
</html>