<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
   {{>navbar}}
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="imgs/man.png"alt="khawar" class="img-fluid" title="khawar baig">
                    </figure>
                </div>
            <div class="col-md-6 col-12 main_header_left ">
                <p>well come to weather app</p>
                <h1>I am <span class="text_clr">Mern stack developer</span>And freelancer</h1>
                <a href=""target="_khawar"><button>About Me</button></a>
            </div>
          
            </div>
        </div>
    </div>
   </div>
   <!-- footer code -->
  {{>footer}}
</body>
</html>